.App {
  text-align: center;
}

table {
  margin-top:20px;
  margin-left: auto;
  margin-right: auto;
  border: 1px solid;
}

tr, td {
  border: 1px solid;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 25px;
  padding-right: 25px;
}

input {
  margin: 10px;
  color: #2c580f;
  box-sizing: border-box;
  display: inline-block;
}

.delete {
  color: red;
  background-color: white;
}

#navbar {
  background-color: #ffffff;
  color:#2c580f;
  font-weight:500;
  border-radius: 0.25em;
}

nav a{
  display: inline-block;
  padding: 20px;
  text-decoration: none;
  color: #2c580f
}

nav a.active {
  background-color: #7dc080;
}

a:visited {
  color:#2c580f;
  background-color: #ffffff;
}

a:hover {
  background-color: #7dc080;
}

#edit-farm-button {
  background-color: #ffffff;
}

#edit-farm-button:hover {
  background-color: #ffffff;
}

a {
  padding: 0px;
  text-decoration: none;
}

body {
  background-color: #ffffffa2;
  color: #2c580f;
  font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  text-align: center;
}

form {

  padding: 10px;
  margin: auto;
  width: 150px;
  color: #2c580f;
}

input {
  width: 100%;
  padding: 3px;
  margin: 5px;
  box-sizing: border-box;
  display: inline-block;
}

button {
  background-color:#2c9431;
  border-radius: 0.33em;
  margin: 5px;
  color: white;
}

button:hover {
  color: #ffffff;
  cursor: pointer;
}

.delete:hover {
  color: black;
  cursor: pointer;
}

button[type=submit]{
  margin: 10px;
  width: 80px;
  height: 35px;
}

select {
  box-sizing: border-box;
  display: inline-block;
  text-align: center ;
  padding: 2px;
  border-radius: 0.33em;
  color: #2c580f;
  width: 100%;
  margin: 5px;
  padding: 3px;
}

.add-a-farm-container {
  margin-top: 30px;
}

.button-container{
  margin: 10px;
}

#farm-card{
    text-align: center;
    border: grey solid 1px;
    padding: .25rem;
    width: 10rem;
    height: 7rem;
    display: inline-grid;
    margin: 0.5rem 0.5rem;
    box-shadow: 3px 4px #1d7203;
}

.farm-detail {
  margin-bottom: 50px;
}

